HELP.md
.gradle

### HerokuPush時にコメントアウトする
# build/
# !**/src/main/**/build/
# !**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#gradle/wrapperを無視する
# gradle/wrapper/

#application.propertiesファイルを無視する
application.properties

#profileImgの変更を無視する
/profileImg

# 開発環境環境変数
application-dev.properties

# 本番環境環境変数
application-prod.properties